<html>
<head>
  <title>Formtopia</title>
  <link rel='stylesheet/less' type='text/css' href='/static/css/main.less'>
  <script src='/static/libs/less/dist/less-1.4.2.js'></script>
  <script src='/static/libs/requirejs/require.js' data-main='/static/app'></script>
  <script>
    window.currentUser = {{#if user}}{{{user}}}{{else}}undefined{{/if}};
  </script>
</head>
<body class="iframe-sensitive">
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12' id="formtopia-app"></div>
        </div>
    </div>
</body>
</html>
