<html>
<head>
  <title>Formtopia</title>
  <link rel='stylesheet/less' type='text/css' href='static/css/main.less'>
  <script src='static/libs/less/dist/less-1.4.2.js'></script>
  <script src='static/libs/requirejs/require.js' data-main='static/app'></script>
</head>
<body>{{{body}}}</body>
</html>
