.form-builder {
		width:100%;
		.row {
			margin-right:0px;
			margin-left:0px;
		}
		.form-container {
			width:100%;
		}
	i {
		margin-right:5px;
	}
	hr {
		margin-bottom:0px;
	}
	.form-meta-container {
		.form-meta-fields {
			font-size:11px;
		}
	}
	.form-body {
		width:100%;
		background-color: #FFFFFF;
		min-height:50%;
		margin-top:1%;
		overflow:hidden;
	}
	.add-field {
		margin-left:65%;
	}
	.remove-field-btn {
		margin-top:4px;
		cursor:pointer;
	}
	.gridster {
		height: auto;
		width: 980px;
		.selected {
			border:2px dashed;
		}
		.form-group {
			border:1px dashed;
			height:100%;
		}
	}
	li {
		list-style: none;
	}
	.form-builder-footer {
		width:100%;
		.footer-buttons {
			margin-left:74%;
		}
	}
}