.form-builder {
	i {
		margin-right:5px;
	}
	.form-container {
		background-color: #FFFFFF;
		min-height:50%;
	}
	.create-form-btn {
		margin-left:90.666667%;
	}
	.add-row-btn {
		margin-left:73.9%;
	}
	.add-field-container {
		margin-top:30px;
		margin-left:7.333%;
	}
	.remove-field-btn {
		margin-top:4px;
		cursor:pointer;
	}
}