.form-builder {
	i {
		margin-right:5px;
	}
	.btn {
		padding-top:4px;
		padding-bottom:4px;
		width:130px;
	}
	.create-form-btn {
		float:right;
	}
	.form-container {
		background-color: #FFFFFF;
		min-height:50%;
	}
}