.login-container {
	width:25%;
	font-size: 14px;
	label {
		font-size : 12px;
	}
	.row {
		margin-top: 15px;
	}
	.login-form, .create-user-form {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
	}
	.create-user-form {
		.create-user-btn {
			margin-left: 63.666667%;
		}
	}
	.login-button-row {
		.login-btn {
		}
	}
}
