@import "../libs/bootstrap/less/bootstrap";
@import "../libs/font-awesome/less/font-awesome";
@import (less) "../libs/gridster/dist/jquery.gridster.css";
@import "create-form";
@import "field-settings";
@import "field";
@import "form-viewer";
@font-face { font-family: 'OxygenMono-Regular'; 
			 src: url('/static/fonts/OxygenMono-Regular.ttf'); 
		   }
body {
  .main {
    background-color : #E6E6E6;
  }
}
.content {
	height:100%;
	.form-group {
		width:100%;
	}
}
hr {
 	color:#919090;
 	background-color:#919090;
 	height:1px;
 	border:none;
}
.navbar {
	font-family: 'OxygenMono-Regular';
	font-size: 14px;
}
.navbar-brand {
	font-size: 18px;
	font-weight: bold;
}
.navbar-header {
	margin:0 auto;
	width:500px;
}